@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.head-container {
    float: center;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
    }
    }
    body {
        background-image:url("../Portfolio/Main-image/1920-over-clouds.jpg")
    }
    .slider {
    background: 1px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 45vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
    }
    .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider::before {
    left: 0;
    top: 0;
    }
    .slider .track {
    -webkit-animation: scroll 45s, linear infinite;
    animation: scroll 45s, linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider .img-track {
    height: 25vh;
    width: 25vw;
    }
img {
    height:15.2rem;
    width: 15.2rem;
    margin: 10px;
    padding: 10px;
}
